<nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="background-color: #011E41;height: 70px;   width: 100%">
    <div class="image" >
    <a class="navbar-brand" href="#">
      <img src="../assets/images/images (1).png" style="width:50px;margin: 10px;"  >
    </a></div>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div  class="col-md-6">
        <p class="nav-link" style="color:lavenderblush; font-family:Sofia, sans-serif;font-size: 30px;margin-right: 100px;">Earn Less . . . . Buy More . . . .</p>
      </div>
      <div  class="col-md-4">
      <ul class="navbar-nav mr-auto ">
      <b>  <li class="nav-item active">
      
        </li></b>
        
        </ul>
  </div>
     <div  >  
  <button class="btn btn-success mx-3" routerLink="logi" onclick="document.getElementById('id01').style.display='block'" style="border-radius: 8px;">Log!n</button>
  <button class="btn btn-primary" routerLink="register" onclick="document.getElementById('id02').style.display='block'" style="border-radius: 8px;">Reg!ster</button>
       
        
  </div> 
      
    </div>
  
  </nav>
  <br><br> <br>
  

  <div class="container-fluid"   style="padding: 16px;   height: 700px; ">
    <div class="row mt-3">
      <div class="col-md-5">
  <img src="./assets/images/3.jpg" style="margin-right:50; display: block; border-radius: 8px;box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 20px 20px 5px rgb(72, 80, 85);
  -khtml-box-shadow: 10px 10px 5px rgb(87, 159, 187);" alt="Flowers in Chania" width="600" height="300">
</div>

  <div class="col-md-7">
   <b style="color: rgb(100, 4, 4);font-size: 20px; font-family:Sofia, sans-serif; text-shadow: 3px 3px 3px #ababab;">EasyBuy TV, Computers, Appliances, Air Conditioners and Mobile
     PhonesLife’s Good with LG and its range of products. Begin by transforming your TV viewing experience and enjoy the thrill
      of premium TV/Audio/Video, with LG India’s superior TV viewing technology. Enjoy the next level TV viewing with widest range of
       Nanocell TVs, LED and OLED TVs , 4K Resolution, and Smart TV. Now being in touch with your loved ones is easier with LG’s stylish
        and advanced mobile phones and accessories ranging from smartphones , tablets, mobile accessories and smart watches. Now browse
         guilt free with powerful operating system to your rescue and shine professionally with latest computer products powered by
          Blu-ray technology.</b>
    </div>

</div>

<div class="row mt-5">
  <div class="col-md-7">
   <b style="color: rgb(4, 5, 39);font-size: 20px;font-family:Sofia, sans-serif; text-shadow: 3px 3px 3px #ababab;"> With LG’s efficient Water Purifiers and Vacuum Cleaners, 
    you will always remain fit and healthy, free from all harmful bacteria. Keep track of every move and let LG’s professional 
    equipment leave a lasting impression behind your back. The range includes LG commercial TVs, Commercial monitors, projectors ,
    video conference call systems and security cameras. Breathe a sigh of relief and experience bacteria-free purified air with EasyBuy
    India’s innovative air conditioner technology. Be it the mosquito repellent split air conditioner or superior functioning of 
    commercial and floor standing air conditioners, ceiling cassette, ceiling concealed duct type and HRV cooling solutions.</b>
    </div>
  <div class="col-md-5">
<img src="./assets/images/4.jpg" style="margin-right:50; display: block; border-radius: 8px;box-shadow: 10px 10px 5px #ccc;
-moz-box-shadow: 10px 10px 5px #ccc;
-webkit-box-shadow: 20px 20px 5px rgb(72, 80, 85);
-khtml-box-shadow: 10px 10px 5px #ccc;" alt="Flowers in Chania" width="600" height="300">
</div>

</div>
</div><br>

<h4 style="text-align:center;color: #011E41;">Easy Buy Benefits</h4><br>

  
  <div class="card-group">
    <div class="card" style="margin-left: 20px;" >
      <img src="./assets/images/buyit.png" class="card-img-top" alt="...">
      <div class="card-body">
       <b> <h5 class="card-title" style="margin-left: 120px;font-weight: bold;">Buy It Easier</h5></b>
        <p class="card-text" style="margin-left: 90px;color:#011E41;font-weight: bold;">No Down Payment.</p>
        <p class="card-text" style="margin-left: 50px;color:#011E41;font-weight: bold;">Minimum Salary Amount 100KD.</p>
        <p class="card-text" style="margin-left: 70px;color:#011E41;font-weight: bold;">Small Installments Amount.</p>
        <p class="card-text" style="margin-left: 50px;color:#011E41;font-weight: bold;">Less Requirements & Less Documents.</p>

      
      </div>
    </div>
    <div class="card" style="margin-left: 50px;">
      <img src="./assets/images/payit.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"  style="margin-left: 120px;font-weight: bold;">Pay It Easier</h5>
        <p class="card-text" style="margin-left: 80px;color:#011E41;font-weight: bold;">Using Easybuy Mobile App.</p>
        <p class="card-text" style="margin-left: 100px;color:#011E41;font-weight: bold;">Online Payments.</p>
        <p class="card-text" style="margin-left: 70px;color:#011E41;font-weight: bold;">Through Retailer’s Locations.</p>
        <p class="card-text" style="margin-left: 80px;color:#011E41;font-weight: bold;">Through Easy Buy Head Office.</p>

      </div>
    </div>
    <div class="card"  style="margin-left: 50px;margin-right: 20px;">
      <img src="./assets/images/more.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="margin-left: 120px;font-weight: bold;">More Products</h5>

       <p class="card-text" style="margin-left: 150px;color:#011E41;font-weight: bold;">Electronics</p>
        <p class="card-text" style="margin-left: 150px;color:#011E41;font-weight: bold;">Furniture</p>
        <p class="card-text" style="margin-left: 130px;color:#011E41;font-weight: bold;">Home Appliances</p>
        <p class="card-text" style="margin-left: 130px;color:#011E41;font-weight: bold;">Sport Equipment</p>
      </div>
    </div>
  </div>
   

  

  <br><br><br>
<div class="row ">
  <div class="col-md-3 ">
  <i class="far fa-heart" style="font-size: 25px; color: grey;margin-left: 150px;"></i></div>
  <div class="col-md-3">
  <i class="fas fa-shopping-bag" style="font-size: 25px;color: grey;margin-left: 150px;"></i></div>
  <div class="col-md-3">
  <i class="far fa-bookmark" style="font-size: 25px;color: grey;margin-left: 170px;"></i></div>
  <div class="col-md-3">
  <i class="fas fa-people-carry" style="font-size: 25px;color: grey;margin-left: 170px;"></i></div>
</div>
<div class="row ">
  <div class="col-md-3 ">
    <p style="font-size: 15px;color: grey;margin-left: 130px;">24x7 Help</p>
  <p style="font-size: 15px;color: grey;margin-left: 15px;">Need Help? <a href="#" >Click Here</a>. You can also talk to us on 0120 4606060 to resolve your query.</p></div>
  <div class="col-md-3">
   <p style="font-size: 15px;color: grey;margin-left: 130px;"> Paytm Trust</p>
   <p style="font-size: 15px;color: grey;"> Your money is yours! All refunds come with no question asked guarantee.</p></div>
  <div class="col-md-3">
  <p style="font-size: 15px;color: grey;margin-left: 130px;">100% Assurance</p>
   <p style="font-size: 15px;color: grey;"> At Paytm, we provide 100% assurance. If you have any issue, your money is immediately refunded. Sit back and enjoy your shopping.</p></div>
  <div class="col-md-3">
  <p style="font-size: 15px;color: grey;margin-left: 130px;">Paytm Mall Promise</p>
  <p style="font-size: 15px;color: grey;"> Products with this tag are quality checked, and shipped the same day from certified warehouses. So you get the right product, faster.</p></div>
</div>


  <section id="lab_social_icon_footer">
    <!-- Include Font Awesome Stylesheet in Header -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <b style="color: ivory;font-size: 18px; margin-left: 35px;"><u>ABOUT</u></b>
          <p  style="color:ivory;margin-left: 20px;">About EasyBuy</p>
          <p  style="color:ivory;margin-top: 0px;">Advertise on EasyBuy</p>
          <p  style="color:ivory;margin-left: 20px;">Privacy & Terms</p>
          <p  style="color:ivory;margin-left: 40px;">Careers</p>
          
        </div>
        <div class="col-md-5">
          <b style="color: ivory;font-size: 18px; margin-left: 35px;"><u>FOLLOW US</u></b><br><br>
          <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social" style="margin-left: 15px;"></i></a>
        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"  style="margin-left: 15px;"></i></a>
        <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"  style="margin-left: 15px;"></i></a><br><br><br> 
        </div>
        <div class="col-md-3" style="color:ivory;">
          <B style="font-size: 18px;" ><u>CONNECT US</u></B><br>

        <p style="margin-top: 10px; ;">  <i class="fas fa-phone-alt"></i> <span style="margin-left: 15px;">22334455</span></p>
        <p>  <i class="fas fa-mobile-alt"></i> <span style="margin-left: 15px;">+91-8096735442</span></p>

          <p> <i class="fas fa-clock"></i><span style="margin-left: 15px;">Mon-Fri, 8:30am-8pm (IST)</span></p>
          <p><i class="fas fa-envelope"></i> <span style="margin-left: 15px;">easybuy@gm@!l.com</span></p>
        </div>
     
     
    <hr style="color: ivory;">
    <p style= " text-align: center; color: rgb(236, 57, 12);margin-left: px;"><b>  Copyright © Easy Buy 2021. | Designed & Developed By Siva Sankar Mittireddy</b> </p>             
  </div>
</div>   
   </section>
    
  <body>
  
  </body>
  <app-login></app-login>
  <app-register></app-register>
  

