
  

  .navbar{
    position: fixed;
  }



  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin-left: 50px;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 1px;
    margin-left: 90px;
  }








  #lab_social_icon_footer {
    padding: 50px ;
    background-color: #011E41;
  }
  
  #lab_social_icon_footer a {
    color: rgb(27, 163, 204);
  }
  
  #lab_social_icon_footer .social:hover {
    -webkittransform: scale(1.1);
    -moztransform: scale(1.1);
    -otransform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkittransform: scale(0.5);
    /* Browser Variations: */
    
    -m-oztransform: scale(0.5);
    -otransform: scale(0.8);
    -webkittransition-duration: 0.5s;
    -moztransition-duration: 0.5s;
    -otransition-duration: 0.5s;
  }
  /*
      Multicoloured Hover Variations
  */
  
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  
  #lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
  }
  
  #lab_social_icon_footer #social-gp:hover {
    color: #d34836;
  }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }

 