table{
    border:black solid ;
    background-color: lightslategray;
    
}
th{
    background-color: black;
}
td{
    color:rgb(6, 10, 243);
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}