<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #011E41;">
    <div class="image" >
    <a class="navbar-brand" href="#">
      <img src="../assets/images/images (1).png" style="width:50px" >
    </a></div>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-md-10">
      <ul class="navbar-nav mr-auto ">
      <b>  <li class="nav-item active">
          <a class="nav-link" style="color: darkred;" routerLink="base" (click)="base()">EasyBuy </a>
        </li></b>
        <b> <li class="nav-item active">
          <a class="nav-link" routerLink="home" style="color:lavenderblush;" >Home </a>
        </li></b>
        <b> <li class="nav-item">
          <a class="nav-link" routerLink="list" style="color: lavenderblush;" (click)="list1()">View Items</a>
        </li></b>
        <b> <li class="nav-item">
          <a class="nav-link"  routerLink="create" style="color: lavenderblush;" (click)=add()>Add Items</a>
        </li></b>
        </ul>
  </div>
  <button class="btn btn-success mx-3" style="border-radius: 8px;">LogOut</button>
      
    </div>
  
  </nav>

<h1  style="text-align:center;color:#011E41;font-family:Sofia, sans-serif;">Buy Now,Pay Later</h1><br>

<b><p style="text-align: center;">Even without an instruction manual on hand, you can now use your EasyBuy appliances with 
ease and quick-start in no time!</p> </b>
<b><p style="text-align: center;">Find the step-by-step videos on how to use your appliances.
 Simply watch and learn!</p></b>
 <div class="row">
   <div class="col-md-6">
     <p class="kk" style="font-family:Sofia, sans-serif;color:rgb(241, 94, 94);margin-left: 80px;font-size: 20px;">EasyBuy company, headquartered at ​ Sharq, Arzan tower, Kuwait City. The company was established in July 2019 with a capital of
        300,000 KD to provide customers with installments sale services. Through this service, the company provides its customers with 
        the facility to own goods & products with flexible installments. Customers can use this facility to buy a wide range of
         goods & products including electronics, home appliances, sports devices, car tires , spare parts, and furniture from 
         EasyBuy partner’s stores. This service is designed to offer prompt approvals to eligible customers with simple 
         documentation and flexible payments starting from 5 KD per month. Moreover, customers can pay their installments 
         easily online through the company website, mobile applications and through EasyBuy branches.</p>
   </div>
   <div class="col-md-6">
     <img src="./assets/images/about.jpg" style="width:400px;margin-left: 150px;height: 500px;border-radius: 8px;">
   </div>
 </div><br><br>

 <img src="./assets/images/about1.jpeg" style="margin-left: 150px;"><br><br>
 
<div class="row">
  <div class="col-md-4">
    <img src="./assets/images/about2.jpg" style="width:400px;margin-left: 150px;height: 500px;border-radius: 5px;">
  </div>
  <div class="col-md-6" style="margin-left: 50px;">
    <p class="k" style="margin-left: 400px; font-weight: bold ;color: #011E41;">RESPECT</p>
    <p class="k" style="margin-left: 100px; font-weight: bold ;color: #bd5f5f;font-family:Sofia, sans-serif;">Great results can be achieved through relationships built on trust, encouraging diversity and making the most of every
       individual's potential and contribution. Work is only one of the elements of a fulfilling and rewarding life.</p>

       <p class="k" style="margin-left: 400px; font-weight: bold ;color: #011E41;">INTEGRITY</p>
    <p class="k" style="margin-left: 100px; font-weight: bold ;color: #bd5f5f;font-family:Sofia, sans-serif;">Working in a correct, 
      responsible way is important. There is no right way of doing the wrong thing. Maintaining the highest possible standards of personal,
       professional and legal conduct, whilst treating the others with the utmost respect, is of fundamental importance.</p>

       <p class="k" style="margin-left: 400px; font-weight: bold ;color: #011E41;">TEAMWORK</p>
       <p class="k" style="margin-left: 100px; font-weight: bold ;color: #bd5f5f;font-family:Sofia, sans-serif;">Working together 
        brings pride and frees up the potential of every individual. Through collaboration and the confrontation of ideas, great 
        results can be achieved.</p>

        <p class="k" style="margin-left: 400px; font-weight: bold ;color: #011E41;">SPIRIT OF WINNING</p>
       <p class="k" style="margin-left: 100px; font-weight: bold ;color: #bd5f5f;font-family:Sofia, sans-serif;">The awareness of 
        being a leader generates pride and motivation to face the new challenges of the market. Our goal is to be recognised and 
        respected as one of the world's best companies to work for.</p>
  </div>
</div><br><br>

 <section id="lab_social_icon_footer">
  <!-- Include Font Awesome Stylesheet in Header -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <b style="color: ivory;font-size: 18px; margin-left: 35px;"><u>ABOUT</u></b>
        <p  style="color:ivory;margin-left: 20px;">About EasyBuy</p>
        <p  style="color:ivory;margin-top: 0px;">Advertise on EasyBuy</p>
        <p  style="color:ivory;margin-left: 20px;">Privacy & Terms</p>
        <p  style="color:ivory;margin-left: 40px;">Careers</p>
        
      </div>
      <div class="col-md-5">
        <b style="color: ivory;font-size: 18px; margin-left: 35px;"><u>FOLLOW US</u></b><br><br>
        <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social" style="margin-left: 15px;"></i></a>
      <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"  style="margin-left: 15px;"></i></a>
      <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"  style="margin-left: 15px;"></i></a><br><br><br> 
      </div>
      <div class="col-md-3" style="color:ivory;">
        <B style="font-size: 18px;" ><u>CONNECT US</u></B><br>

      <p style="margin-top: 10px; ;">  <i class="fas fa-phone-alt"></i> <span style="margin-left: 15px;">22334455</span></p>
      <p>  <i class="fas fa-mobile-alt"></i> <span style="margin-left: 15px;">+91-8096735442</span></p>

        <p> <i class="fas fa-clock"></i><span style="margin-left: 15px;">Mon-Fri, 8:30am-8pm (IST)</span></p>
        <p><i class="fas fa-envelope"></i> <span style="margin-left: 15px;">easybuy@gm@!l.com</span></p>
      </div>
   
   
  <hr style="color: ivory;">
  <p style= " text-align: center; color: rgb(236, 57, 12);margin-left: px;"><b>  Copyright © Easy Buy 2021. | Designed & Developed By Siva Sankar Mittireddy</b> </p>             
</div>
</div>   
 </section>

  
 

